CONFIG_ARCH_MULTI_V7=y
CONFIG_ARCH_MEDIATEK=y
CONFIG_AEABI=y
# PID1 uses ARM EABI syscall 162 (nanosleep_time32).
CONFIG_COMPAT_32BIT_TIME=y
CONFIG_MMU=y
CONFIG_SMP=n
CONFIG_HIGHMEM=n
CONFIG_ARM_LPAE=n
CONFIG_CPU_BIG_ENDIAN=n
CONFIG_THUMB2_KERNEL=n
CONFIG_ARM_VIRT_EXT=n
CONFIG_EFI=n
CONFIG_EFI_STUB=n
CONFIG_XIP_KERNEL=n
CONFIG_ZBOOT_ROM=n
CONFIG_AUTO_ZRELADDR=y
CONFIG_ARM_APPENDED_DTB=y
CONFIG_ARM_ATAG_DTB_COMPAT=n
CONFIG_KERNEL_GZIP=y
CONFIG_CMDLINE="rdinit=/init"
CONFIG_CMDLINE_FROM_BOOTLOADER=y
CONFIG_CMDLINE_EXTEND=n
CONFIG_CMDLINE_FORCE=n
CONFIG_LOCALVERSION="-y2-m2-input1"
CONFIG_LOCALVERSION_AUTO=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_EXPERT=y
CONFIG_MULTIUSER=y
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=y
CONFIG_LOG_BUF_SHIFT=17
CONFIG_BUG=y
CONFIG_KALLSYMS=y
CONFIG_TTY=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_MT6577=y
CONFIG_SERIAL_8250_NR_UARTS=1
CONFIG_SERIAL_8250_RUNTIME_UARTS=1
CONFIG_SERIAL_8250_DMA=n
CONFIG_SERIAL_EARLYCON=y
CONFIG_BINFMT_ELF=y
CONFIG_BINFMT_SCRIPT=n
CONFIG_BLK_DEV_INITRD=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_RD_GZIP=y
CONFIG_RD_BZIP2=n
CONFIG_RD_LZMA=n
CONFIG_RD_XZ=n
CONFIG_RD_LZO=n
CONFIG_RD_LZ4=n
CONFIG_RD_ZSTD=n
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=n
CONFIG_DEVTMPFS=n
CONFIG_BLOCK=n
CONFIG_NET=n
CONFIG_MODULES=n
CONFIG_SWAP=n
CONFIG_CMA=n
CONFIG_DMA_CMA=n
CONFIG_DMADEVICES=n
CONFIG_KEXEC=n
CONFIG_KEXEC_FILE=n
CONFIG_CRASH_DUMP=n
CONFIG_FB=n
CONFIG_DRM=n
CONFIG_SOUND=n
CONFIG_INPUT=y
CONFIG_INPUT_EVDEV=y
CONFIG_INPUT_KEYBOARD=y
CONFIG_KEYBOARD_GPIO_POLLED=y
CONFIG_GPIOLIB=y
CONFIG_GPIO_CDEV=n
CONFIG_GPIO_SYSFS=n
CONFIG_PINCTRL=y
CONFIG_USB_SUPPORT=y
CONFIG_USB=n
CONFIG_USB_GADGET=y
CONFIG_USB_MUSB_HDRC=y
CONFIG_USB_MUSB_GADGET=y
CONFIG_USB_MUSB_HOST=n
CONFIG_USB_MUSB_DUAL_ROLE=n
CONFIG_USB_MUSB_MEDIATEK=n
CONFIG_MUSB_PIO_ONLY=y
CONFIG_USB_INVENTRA_DMA=n
CONFIG_USB_PHY=n
CONFIG_USB_G_SERIAL=y
CONFIG_U_SERIAL_CONSOLE=n
CONFIG_MMC=n
CONFIG_MTD=n
CONFIG_I2C=n
CONFIG_SPI=n
CONFIG_WATCHDOG=n
CONFIG_PM=n
CONFIG_CPU_IDLE=n
CONFIG_CPU_FREQ=n
CONFIG_ARM_ARCH_TIMER=n
CONFIG_HZ_100=y
CONFIG_DEBUG_INFO_NONE=y
CONFIG_SECURITY=n
CONFIG_RANDOMIZE_BASE=n
CONFIG_ARM_PATCH_PHYS_VIRT=n
CONFIG_PHYS_OFFSET=0x80000000
CONFIG_VMSPLIT_3G=y
CONFIG_PAGE_OFFSET=0xC0000000
CONFIG_ATAGS=n
CONFIG_DEBUG_LL=n
CONFIG_MEMORY_HOTPLUG=n
CONFIG_KVM=n

# D12/D13 temporary Y2-only watchdog/guarded inherited-framebuffer diagnostic.
CONFIG_Y2_BOOT_DIAGNOSTIC=y
